<div id="faq_body">
  <mat-accordion >
      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            What do i need in order to use the tracking function?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>It is necessary to sign up an account which will be used to save all tracked data. Log into with your setup account and use the tab 'TRACK TIME'. For further information look up the question 'How do I track my time?'</p>
      </mat-expansion-panel>
    
      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            How does the registration work?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>In the navigation menu above you will find a tab called 'REGISTER' which you need to use for signing up your account. Once you reached the page, you will face a form to fill in your data. You get only access to this webpage as a person being connected to FH Technikum Vienna which automatically assigns you to the university. After you have filled in your data for registration, click on the 'Sign Up' button. If something is not correctly filled in the input forms, you will get the relevant note right below. If everything is okay with your data, the form will automatically resets and the blue notification at the bottom pops up for a few seconds, like the picture shows. As the notification tells, you are good to go on.</p>
        <div>
          <img class="faq_image" src="../../assets/img/faq_registration.png" alt="screenshot of registration">
        </div>
      </mat-expansion-panel>
    
      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Why are 'track time' and 'overview' not available?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>The tabs 'OVERVIEW' and 'TRACK TIME' are only available for logged in accounts. As long as you are logged out, the two tabs will not display (because of privacy protection we will not display all tracking data of every user). If you log into your account, call another webpage and return to this one, you will automatically log out, because we ain't got cookies here. </p>
      </mat-expansion-panel>
    
      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Why can't I login with my account?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>There can several reasons cause your problem. Take a deep breathe and keep calm. Open the developer tools by pressing the key "F12" or right click on the webpage and open them from the appearing list. Activate the tab 'console' and look for red highlighted error-codes.<br><br>- ERR_CONNECTION_REFUSED tells you that the server faces technical problems. Our team is working on it at the moment, so please play without login or try again later.</p>
        <div>
          <img class="faq_image" src="../../assets/img/faq_login_server-offline.png" alt="connection failed, server offline">
        </div>
        <p><br>- 401 (Unauthorized) tells you that there has been a problem, comparing your input with data from our database. Maybe you have misspelled your login data or forgotten the correct password? Don't forget to use your correct username (not email!) and password for a successful login.</p>
        <div>
          <img class="faq_image" src="../../assets/img/faq_login_server-online.png" alt="connection failed, server online">
        </div>
      </mat-expansion-panel>
    
      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            How do I track my time?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Make sure you are logged into your account. Go to the tab 'TRACK TIME' and 3 inputs will be displayed - a dropdown to choose your current location, a calender to select the correct date and an input field to choose the beginning time. In case you have forgotten to track a past time you can select a date from the past and redo your missing tracking. Every input needs to be filled out, otherwise you will not be able to track your time properly and the function does not react besides telling you via notification what you are missing.<br><br>Hit the button 'Check In' to confirm your data and start tracking your time at the chosen location.</p>
        <div>
          <img class="faq_image" src="../../assets/img/faq_tracking_check-in.png" alt="screenshot of input, check in">
        </div>
        <p>Once you have reached your time to leave the location and log out, hit the remaining button 'Check Out' and your data with the tracked time will be saved into the db and shown at your overview with all chosen and existing data. After 'checking out' the tracking form will reset and display all input fields to redo anytime you need again to track your time.</p>
        <div >
          <img class="faq_image" src="../../assets/img/faq_tracking_check-out.png" alt="screenshot of check out">
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Why does my tracked time not show up at the overview table?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Two scenaries can occur:<br>1) You forgot to check out your time tracking and logged out/closed the window - no data will be saved because no ending time is given to calculate.<br>2) Our server happened to fail while during your time tracking which can be seen by an unwilling logout. The technical support will do a great job to bring you back online as fast as possible.</p>
      </mat-expansion-panel>
    
      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Can I delete a falsely tracked time?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Due to Corona we can not pay our developers enough to enable every possible feature. If you need to remove a tracked time you need to contact our development team which will do this by good cause.</p>
      </mat-expansion-panel>
    
      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Why does the FAQ looks like this?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>To fulfill this task in good manners, we simply looked up the top 20 FAQ-designs of famous websides. Taking youtube as role model we decided to design our FAQ with expansion panels to safe space and create a better first visual expression.</p>
      </mat-expansion-panel>
      
      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            What is the toggle in the upper right corner for?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>In favor of the free choice, every user can decide to remain in lightmode (what is wrong with you...)</p>
        <div>
          <img class="faq_image" src="../../assets/img/faq_lightmode.png" alt="display lightmode">
        </div>
        <p>Or select the darkmode for the gentle touch and relaxation of your eye(s)</p>
        <div>
          <img class="faq_image" src="../../assets/img/faq_darkmode.png" alt="display darkmode">
        </div>
      </mat-expansion-panel>
    </mat-accordion>
</div>