<div class="flex-container">
    <div class="overview_labels">
        <label>Username:</label>
    </div>
    <div id="overview_username">
        <input placeholder="no data" name="overview_username" value="{{userData.nameData}}" type="text" readonly>
    </div>
    <div class="overview_labels">
        <label>Name:</label>
    </div>
    <div id="overview_name">
        <input placeholder="no data" name="overview_firstname" value="{{userData.firstnameData}}" type="text" readonly>
        <br><input placeholder="no data" name="overview_lastname" value="{{userData.lastnameData}}" type="text" readonly>     
    </div>
    <div class="overview_labels">
        <label>E-Mail:</label>
    </div>
    <div id="overview_email">        
            <input placeholder="no data" name="profile_email" value="{{userData.emailData}}" type="text" readonly>
    </div>
    <div class="overview_labels">
        <label>University:</label>
    </div>
    <div id="overview_university">
        <input placeholder="no data" name="overview_university" value="{{userData.universityData}}" type="text" readonly>
    </div>

    <mat-divider></mat-divider>

    <div class="overview_labels">
        <label>Tracking Data:</label>
    </div>
    <div id="overview_table_body">
        <table mat-table [dataSource]="trackingData" class="mat-elevation-z8">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
            </ng-container>
            <ng-container matColumnDef="room">
                <th mat-header-cell *matHeaderCellDef>Room</th>
                <td mat-cell *matCellDef="let element">{{element.roomData}}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element">{{element.dateData}}</td>
            </ng-container>
            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef>Begin</th>
                <td mat-cell *matCellDef="let element">{{element.startTimeData}}</td>
            </ng-container>
            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef>End</th>
                <td mat-cell *matCellDef="let element">{{element.endTimeData}}</td>
            </ng-container>
            <ng-container matColumnDef="durationSeconds">
                <th mat-header-cell *matHeaderCellDef>durationSeconds</th>
                <td mat-cell *matCellDef="let element">{{element.timeInSecondsData}}</td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>

<p *ngIf="loggedin==false">You are not logged in</p>