<img src="../assets/logo/logo.png" alt="logo not available">
<div id="app_header">
    <h1>FH-tracking-app</h1>
</div>
<mat-toolbar id="app_navbar">
    <a  color="primary" mat-raised-button type="button" routerLink="/overview">OVERVIEW</a> 
    <!-- *ngIf="loggedin==true" -->
    <a mat-raised-button color="primary" type="button" routerLink="/tracking">TRACKING</a>
    <!-- *ngIf="loggedin==true" -->
    <a mat-raised-button color="primary" type="button" routerLink="/FAQ">FAQ</a>
    <a  mat-raised-button color="primary" type="button" routerLink="/register">REGISTER</a>
    <!-- *ngIf="loggedin==false" -->
    <a  color="primary" mat-raised-button type="button" routerLink="/login">LOGIN</a>
    <!-- *ngIf="loggedin==false" -->
    <a  color="primary" mat-raised-button type="button" >LOGOUT</a>
    <!-- *ngIf="loggedin==true" | (click)="loggout()" -->
</mat-toolbar>
<mat-divider></mat-divider>
<router-outlet></router-outlet>