#app_navbar {
    justify-content: center;
    background: none;
    margin-bottom: 25px;
}

#app_navbar a {
    margin: 0px 10px 0px 10px;
    background: var(--githubblue);
    color: #fff;

}

.row {
    align-items: center;
}

#app_logo {
    text-align:start;
    padding: 0px 0px;
    margin-top: 6px;

}

#toggle_theme {
    display: flex;
    float: right;
    margin: 50px;
    color: var(--buttonback);
}



img {
    width: 8.5em;
    height: 8.5em;
}

h1 {
    font-size: 3em;
    color: var(--buttonback);
    font-weight: bold;
    margin: 0px 0px -10px 0px;
}

#app_header {
    vertical-align: sub;
    text-align: center;
    margin-bottom: 25px;
}
